@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin 'tailwind-scrollbar';

@theme {
  --color-primary: #0e0e0e;
  --color-secondary: #fff;
  --color-tertiary: #ffbc4c;
  --color-green: #b4e50d;
  --color-red: #fb4141;
}

:root {
  font-family: "Montserrat";
}
.font-primary {
  font-family: "Montserrat";
}
